<ion-view style="" id="page9" title="App information">
    <ion-content class="has-header" padding="true">
        <h1 style="color: rgb(0, 0, 0);" id="appInformation-heading3">App name</h1>
        <div style="width: 300px; height: 4px;" class="spacer"></div>
        <h3 style="color: rgb(0, 0, 0);" id="appInformation-heading1">Environments</h3>
        <ion-list style="">
            <ion-item style="" ui-sref="menu.environmentDashboard">Development</ion-item>
            <ion-item style="">Staging</ion-item>
            <ion-item style="">Production</ion-item>
        </ion-list>
        <div style="width: 300px; height: 11px;" class="spacer"></div>
        <h3 style="color: rgb(0, 0, 0);" id="appInformation-heading4">Ownership</h3>
        <div style="">email@provider.com</div>
        <div style="width: 300px; height: 11px;" class="spacer"></div>
        <h3 style="color: rgb(0, 0, 0);" id="appInformation-heading2">Details</h3>
        <div style="">Plan type:
            <b>Enterprise</b>
            <br>
            <ul style="padding-left:10px; color:grey

">
                <li>1 of 1 environment</li>
                <li>0 of 0 collaborators</li>
                <li>Data Links Disabled</li>
                <li>Auth Links Disabled</li>
                <li>2000 ms script timeout</li>
                <li>External BL support</li>
            </ul>
        </div>
    </ion-content>
</ion-view>