<ion-view style="" id="page9" title="App information">
    <ion-content class="has-header" padding="true">
        <h1 style="color: rgb(0, 0, 0);" id="appInformation-heading3">{{ app.name }}</h1>
        <div style="width: 300px; height: 4px;" class="spacer"></div>
     <!--   <h3 style="color: rgb(0, 0, 0);" id="appInformation-heading1">Environments</h3>-->
<!--         <ion-list style="">
            <ion-item ng-repeat="environment in app.environments" style="" ui-sref="menu.environmentDashboard">{{ environment.name }}</ion-item>
        </ion-list> -->
        <button class="button" ng-click="showActionSheet()"> {{ selection ? selection.name : "Environments"}} </button>

        <div style="width: 300px; height: 11px;" class="spacer"></div>
        <h3 style="color: rgb(0, 0, 0);" id="appInformation-heading4">Ownership</h3>
        <div style="">{{ app.owner }}</div>
        <div style="width: 300px; height: 11px;" class="spacer"></div>
        <h3 style="color: rgb(0, 0, 0);" id="appInformation-heading2">Details</h3>
        <div style="">Plan type:
            <span class="plan-level">{{ app.plan.level }}</span>
            <br>
            <ul style="padding-left:10px; color:grey">
                <li>{{ app.environments.length }} of {{ app.plan.environments }} environments</li>
                <li>{{ totalCollaborators }} of {{ isNumber(app.plan.collaborators) ? app.plan.collaborators : "unlimited" }} collaborators</li>
                <li>Data Links {{ app.plan.datalinks ? "Enabled" : "Disabled" }}</li>
                <li>Auth Links {{ app.plan.authlinks ? "Enabled" : "Disabled" }}</li>
                <li>{{ app.plan.bl.timeout }} ms script timeout</li>
                <li>External BL support</li>
            </ul>
        </div>
    </ion-content>
</ion-view>