<ion-view style="" id="page12" title="Collaboration">
    <ion-content class="has-header" padding="true">
        <div style="color: rgb(0, 0, 0);" id="collaboration-markdown10">
            <p>Invite people to collaborate on this environment. Your current payment plan supports a total of X collaborators and/or administrators, not including the app owner.</p>
        </div>
        <div style="width: 300px; height: 4px;" class="spacer"></div>
        <h4 style="color: rgb(0, 0, 0);" id="collaboration-heading9">Administrators</h4>
        <div style="color: rgb(0, 0, 0); font-size: 12px;" id="collaboration-markdown11">
            <p>Administrators have complete access to your app, including the ability to add other collaborators or administrators.</p>
        </div>
        <ion-list style="">
            <ion-item style="">user@provider.com</ion-item>
            <ion-item style="">user2@provider.com</ion-item>
        </ion-list>
        <div style="width: 300px; height: 2px;" class="spacer"></div>
        <h4 style="color: rgb(0, 0, 0);" id="collaboration-heading10">Collaborators</h4>
        <div style="color: rgb(0, 0, 0); font-size: 12px;" id="collaboration-markdown12">
            <p>Collaborators have complete access to your app, but are not able to add other collaborators or administrators.</p>
        </div>
        <ion-list style="">
            <ion-item style="">collab@provider.com</ion-item>
            <ion-item style="">user2@provider.com</ion-item>
        </ion-list>
    </ion-content>
</ion-view>