<ion-view style="" id="page11" title="Environment settings">
    <ion-content class="has-header" padding="true">
        <h3 style="color: rgb(0, 0, 0);" id="environmentSettings-heading7">Naming</h3>
        <div style="color: rgb(0, 0, 0);" id="environmentSettings-markdown4">
            <p>Environment ID:
                <strong>{{currentEnv.id}}</strong>
            </p>
        </div>
        <div style="color: rgb(0, 0, 0);" id="environmentSettings-markdown5">
            <p>Name:
                <strong>{{currentEnv.name}}</strong>
            </p>
        </div>
        <button class="button button-positive button-small button-outline" style="float: right" id="environmentSettings-button13" ng-click="renameEnvironment()">Rename</button>
        <h3 style="color: rgb(0, 0, 0);" id="environmentSettings-heading8">API Keys</h3>
        <div style="color: rgb(0, 0, 0);" id="environmentSettings-markdown8">
            <p>API keys are how your app authenticates with Kinvey. If you think your keys are compromised, you can regenerate them here.</p>
        </div>
        <div style="color: rgb(201, 106, 39);" id="environmentSettings-markdown9">
            <p>
                <strong>Warning!</strong> Regenerating your keys will destroy the old ones. If your users have already downloaded the app, it might break for them (e.g. when trying to register a new account).</p>
        </div>
        <div style="color: rgb(0, 0, 0); font-size: 10px;" id="environmentSettings-markdown6">
            <p>
                <strong>App secret: </strong>{{currentEnv.appSecret}}</p>
        </div>
        <div style="margin-right:-20px;">
            <button class="button button-energized button-small button-full" style="left:-10px;" id="environmentSettings-button10" ng-click="regenerateAppSecret()">Regenerate app secret</button>
        </div>
        <div style="color: rgb(0, 0, 0); font-size: 10px;" id="environmentSettings-markdown7">
            <p>
                <strong>Master secret: </strong>{{currentEnv.masterSecret}}</p>
        </div>
        <div style="margin-right:-20px;">
            <button class="button button-assertive button-small button-full" style="left:-10px;" id="environmentSettings-button11" ng-click="regenerateMasterSecret()">Regenerate master secret</button>
        </div>
    </ion-content>
</ion-view>