<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu style="background-color:#D44B2B;" side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <a class="button button-calm  button-block icon-left ion-android-apps" id="menu-button6" menu-close="" ui-sref="apps">{{currentApp ? currentApp.name : "Application"}}</a>
            <ion-list style="">
                <ion-item style="" class="item-divider" ng-click="showActionSheet()">{{currentEnv ? currentEnv.name : "Environment"}}</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.environmentDashboard">Dashboard</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.users">Users</ion-item>
            </ion-list>
            <ion-list style="">
                <ion-item style="" menu-close="" ui-sref="menu.collaboration">Collaboration</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.environmentSettings">Settings</ion-item>
            </ion-list>
        </ion-content>
        <ion-footer-bar class="bar-calm">
            <a class="button" style="width: 100%; border-radius:0px 0px 0px 0px;" id="menu-button5" menu-close="" ui-sref="logout">Logout</a>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>