<ion-view style="background-color: rgb(212, 75, 43);" id="page13" title="Mobile Console" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/uXQltBZ9Qm6X8mIjA4l6_kinvey-logo-white.png" height="144" width="380">
        </div>
        <h2 style="color: #FFFFFF; text-align: center;" id="mobileConsole-heading11">Welcome back<span ng-if="user.firstName">, {{ user.firstName }}</span>!</h2>
        <ng-if="lastViewedPages">
            <div style="color: #FFFFFF" id="mobileConsole-markdown13">
                <p>Recently accessed places:</p>
            </div>
            <ion-list style="">
                <ion-item ng-repeat="page in lastViewedPages" style="" ng-click="navigate(page)">{{ page.displayString }}</ion-item>
            </ion-list>
        </ng-if>
    </ion-content>
</ion-view>