<ion-view style="background-color: rgb(212, 75, 43);" id="page13" title="Mobile Console" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/uXQltBZ9Qm6X8mIjA4l6_kinvey-logo-white.png" height="auto" width="50%">
        </div>
        <h2 style="color: rgb(0, 0, 0); text-align: center;" id="mobileConsole-heading11">Welcome back<span ng-if="user.firstName">, {{user.firstName}}</span>!</h2>
        <div style="color: rgb(0, 0, 0);" id="mobileConsole-markdown13">
            <p>Recently accessed places:</p>
        </div>
        <ion-list style="">
            <ion-item style="">MyApp / Production / Settings</ion-item>
            <ion-item style="">MyApp / Production / Users</ion-item>
            <ion-item style="">MySecondApp / Development / Dashboard</ion-item>
        </ion-list>
    </ion-content>
</ion-view>