<ion-view style="background-color: rgb(212, 75, 43);" id="page5" title="Signup" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form style="" class="list">
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/uXQltBZ9Qm6X8mIjA4l6_kinvey-logo-white.png" height="144" width="380">
            </div>
            <div style="width: 300px; height: 10px;" class="spacer"></div>
            <div style="color: rgb(255, 255, 255); text-align: center;" id="signup-markdown2">
                <p>Zero to backend in less than <strong>2 minutes</strong></p>
            </div>
            <div style="width: 300px; height: 23px;" class="spacer"></div>
            <div style="color: rgb(255, 255, 255);" id="signup-markdown3">
                <p>Sign up for a new account</p>
            </div>
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Email</span>
                    <input placeholder="name@provider.com" type="email" ng-model="$parent.email">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password" ng-model="$parent.password">
                </label>
            </ion-list>
            <div ng-show="gotError">
                <ul class="errors">
                    <li ng-repeat="error in errors">
                        <span class="field">{{ error.field }}</span> - <span class="message">{{ error.message }}</span>
                    </li>
                </ul>
            </div>
            <a class="button button-stable button-block" id="signup-button4" ng-click="signup()">Sign up</a>
        </form>
    </ion-content>
</ion-view>